//HEADER

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 10px;
  }

  &__title {
    min-width: 20px;
    @media (min-width: 768px) {
      width: 50%;
      height: auto;
    }

    // padding: 30px;
  }
}
