@import 'core/reset';

body {
  background-image: url('../../src/images/background.jpg');
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.scroll {
  color: white;
  font-size: 3rem;
}

//ERROR

.error {
  font-size: 1.8rem;
  padding-left: 10px;
}
